.menu {
  position: absolute;
  top: 41px;
  background: var(--white);
  color: var(--black);
  border-radius: var(--basic-border);
  overflow: hidden;

  &.hidden {
    display: none;
  }

  &:hover {
    pointer-events: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 10px;
      cursor: pointer;
      font-size: 0.9em;
      &:hover {
        background: var(--white-hover);
      }
    }
  }
}

.basic {
  width: 192px;
  height: 180px;
  z-index: 1;
}

