@import '../../styles/mixins';

.menu {
  position: absolute;
  top: 41px;
  background: var(--white);
  color: var(--black);
  border-radius: var(--basic-border);
  overflow: hidden;
  z-index: 1;

  &:hover {
    pointer-events: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    li {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding-left: 10px;
      cursor: pointer;
      font-size: 0.75em;
      &:hover {
        background: var(--white-hover);
      }
    }
  }

  &.hidden {
    display: none;
  }
}

.fourRows {
  @include rows(4, 192)
}

.fiveRows {
  @include rows(5, 400);
}

.twoRows {
  @include rows(2, 400);
}

.threeRows {
  @include rows(3, 400);
}
