.productManagement {
  display: flex;
  gap: 24px;
}

.addBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 8px 5px 5px;
  border-radius: var(--medium-border);

  &:hover {
    background: var(--white-gray);
  }
}

.info {
  font-size: 0.85rem;
  font-weight: 400;
  @media screen and (width < 376px) {
    display: none;
  }
}

.form {
  display: flex;
  justify-content: space-between;
  background: var(--contrast-gray);
  &:hover {
    background-color: var(--hover-items);
  }
  width: 360px;
  height: 44px;
  padding: 4px;
  border-radius: var(--medium-border);
}
