.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 23px;
}

.title {
  font-size: 1.65rem;
  font-weight: 700;
}

.productManagement {
  display: flex;
  gap: 24px;
}

.addBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 8px 5px 5px;
  border-radius: var(--medium-border);

  &:hover {
    background: var(--white-gray);
  }
}

.form {
  display: flex;
  justify-content: space-between;
  background: var(--contrast-gray);
  width: 360px;
  height: 44px;
  padding: 4px;
  border-radius: var(--medium-border);
}

.search {
  background: transparent;
  border: none;
  width: 100%;
  padding: 4px 0 4px 18px;
  font-size: 0.8rem;
}

.searchIcon {
  width: 36px;
  padding-right: 12px;
}

.info {
  font-size: 0.85rem;
  font-weight: 400;
  @media screen and (width < 376px) {
    display: none;
  }
}
