.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding-top: 23px;
}

.title {
  font-size: var(--big-font-size);
  font-weight: 700;
}

.search {
  background: transparent;
  border: none;
  width: 100%;
  padding: 4px 0 4px 18px;
  font-size: var(--basic-font-size);
}

.searchIcon {
  width: 36px;
  padding-right: 12px;
}

@media screen and (width <= 600px) {
  .header {
    position: relative;
  }
}
