:root {
  --gray: #2D2C32;
  --white-gray: #4c4c51;
  --whitest-gray: #6c6b6f;
  --contrast-gray: #3d3d42;
  --white: #ffffff;
  --white-hover: #f0f0f3;
  --black: #000000;

  --orange-bg: #7c3d12;
  --green-bg: #14532b;
  --orange-text: #fdb172;
  --green-text: #85EF89;

  --text-gray: #8b8a8e;
  --text-info-modal: #818084;
  --text-quantity-modal: #6e6d72;
  --text-puprle-gray: #767386;

  --button-bg: #4649E5;
  --button-bg-disabled: #0c0c28;

  --hover-items: #5f5e63;

  --basic-border: 10px;
  --medium-border: 14px;
  --big-border: 16px;

  --calendar-border: rgba(240, 240, 243, 0.9);
  --calendar-selected: #E4EAFF;

  --light-font-size: 13px;
  --basic-font-size: 16px;

  --portals-font-family-hauss: "WB Hauss", sans-serif
}

@font-face {
  font-display: swap;
  font-family: WB Hauss VF;
  font-weight: 1 850;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/als-hauss-vf.b709e7bab16d4dd7d164.ttf) format("truetype-variations")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 1;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-hairline.8647c2746e374e22d86d.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 1;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-hairline-italic.0101383b9b2d838885a2.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 100;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-thin.186e3df1a3fd7c9da049.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 100;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-thin-italic.4d29c800d08cab0a14ef.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 200;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-light.0bc7ad383f520c537000.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 200;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-light-italic.2ad946ca38bfec244789.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 300;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-book.a223cb788bd7980a5410.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 300;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-book-italic.0f9bd1ae96e6f8b0c5ba.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 400;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-regular.e0b0d410abe3ff1c9dd6.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 400;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-regular-italic.4d98e1e42425d220da92.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 500;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-medium.f7fb80e5b276629c94fb.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 500;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-medium-italic.cd9a6f3453d183207d39.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 700;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-bold.f801d610414238176151.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 700;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-bold-italic.f0150bb362e32a4bc8aa.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: normal;
  font-weight: 800;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-black.74f97b9157442e6b030e.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: WB Hauss;
  font-style: italic;
  font-weight: 800;
  src: url(https://static-basket-02.wbbasket.ru/vol20/portal-fonts/latest/assets/hauss-black-italic.1da75ae84037a59e24dc.woff2) format("woff2")
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select, button {
  font: inherit;
  color: inherit;
}

input {
  all: unset;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: larger;
}

html {
  font-family: var(--portals-font-family-hauss), sans-serif;
}

body {
  background: var(--gray);
  padding: 24px 24px 0 116px;
  color: var(--white)
}

.logo {
  position: fixed;
  left: 18px;
  top: 31px;
}

.activeItem {
  background: var(--white-hover);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
